<div class="row" id="participatory-space-filters">
  <%# FILTERS COMMENTED OUT %>

  <%#= render partial: "decidim/shared/participatory_space_filters/filters_small_view" %>
  <!--Commented out, if want to get filters working go views/decidim/shared/participatory_space_filters/_show.html.erb
  <div class="show-for-mediumlarge">

    <%#= render partial: "decidim/shared/participatory_space_filters/filters",
        locals: { checkboxes_on_top: false } %>
  
  </div>
  -->

</div>
