// // Variables
// 
$primary: #52ACAA;
$primary-rgb: 82,172,170;
// $secondary: #599aa6;
// $secondary-rgb: 89,154,166;
// $success: #57d685;
// $success-rgb: 87,214,133;
// $warning: #ffae00;
// $warning-rgb: 255,174,0;
// $alert: #ec5840;
// $alert-rgb: 236,88,64;
// 
// $proposals: #238ff7;
// $actions: #57d685;
// $debates: #fa6c96;
// $meetings: #fabc6c;
// 
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #4285f4;
// 
// // background colors used in public diff views
// $color-addition: #e6ffed;
// $color-removal: #ffeef0;
// 
// // Define custom properties as css color variables
// 
:root{
     --primary: #{$primary};
     --primary-rgb: #{$primary-rgb};
//   --secondary: #{$secondary};
//   --secondary-rgb: #{$secondary-rgb};
//   --success: #{$success};
//   --success-rgb: #{$success-rgb};
//   --warning: #{$warning};
//   --warning-rgb: #{$warning-rgb};
//   --alert: #{$alert};
//   --alert-rgb: #{$alert-rgb};
//   --proposals: #{$proposals};
//   --actions: #{$actions};
//   --debates: #{$debates};
//   --meetings: #{$meetings};
//   --twitter: #{$twitter};
//   --facebook: #{$facebook};
//   --google: #{$google};
    .title-bar {
        background-color: $primary;
        & .navbar{
            background-color: $primary;
        }

        & .topbar {
            justify-content: flex-start;
        }
        @media (max-width: 639px) {
            & .topbar {
                justify-content: flex-end;
            }
        }
        & .header-hero {
            margin: 0px;
            padding: 0px;
            height: 500px;
        }
    }
    .logo-bar {
    background-color: $primary;
    }
    @media screen and (max-width: 39.9375em){
        .logo-bar {
            border-top: 0px;
            position: absolute;
            top: 50px;
        }
    }
    .logobar {
        justify-content: space-around;
    }

    .main-footer {
        background-color: $primary;
        & a {
            color: white;
        }
    }
    .mini-footer {
        background-color: $primary;
        & a {
            color: white;
        }
        & .footer-div {
            padding-top: 20px;
        }
        @media screen and (max-width: 39.9375em){
            .footer-div {
                padding-top: 10px;
            }
        }
    }
    .footer-logo-div {
        height: 100%;
        & .footer-logo {
            margin: auto;
        }
    }

    .hero-picture {
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
        background-color: #007a86;
    }
    @media screen and (max-width: 39.9375em){
        .hero-picture {
            height: 250px;
        }
    }
    @media screen and (min-width: 39.9375em){
        .hero-picture {
            height: 350px;
        }
    }
    @media screen and (min-width: 1053px){
        .hero-picture {
            height: 500px;
        }
    }
    @media screen and (min-width: 1450px){
        .hero-picture {
            background-size: contain;
        }
    }
    .custom-content-banner {
        padding: 25px;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}


@import "decidim/application";
